<html>
<head>
  <title>淬火炉数据管理平台</title>
  <meta charset=utf-8>
  <style type="text/css">
  table{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    align:middle;


  }
  </style>
</head>
<body>
  <form name="form1"method="post"action="/individual">
    <table border="1">

      <tr>
        <td colspan="5" width="1000" height="100" align="middle"><span style="font-size:30pt">淬火炉数据管理平台</span></td>
      </tr>
      <tr width="1000"height="60">
        <td width="200" align="middle"><a href="/individual/cuiguan/">数据管理</a></td>
        <td rowspan="5" colspan="4"></td>
        </tr>
      <tr width="1000"height="60">
        <td width="200"align="middle"><a href="/individual/cuishi/">历史记录</td>
      </tr>
       <tr width="1000"height="60"><td rowspan="4"width="200"></td>
       </tr>
       <tr width="1000"height="60"></tr>
       <tr width="1000"height="60"></tr>
       <tr width="1000"height="60">
        <td align="middle"><a href="/individual/cuijia/">添加项目</td><td width="600"></td>
      </tr>
    </body>

  </html>
