
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title%></title>
  <style type="text/css">
    table{
      width:40px;
      margin:0 auto;
      border: 1px solid black;
      border-collapse: collapse;
      font-size: 13px;
    }
  </style>
</head>

<body>
<h>请输入加热炉数据</h>
<div class="col-sm-4 blog-main">

  <form class="form-horizontal" role='form' data-toggle='validator' method='post' action='/company/hot'>

    <br/>
    <table border="1" width=“200” height="300">
    <tr>
      <td>选项</td>
      <td align="center">数据</td>
    </tr>
    <tr>
      <td>时间：</td>
      <td><input type="date" name="now_date" id="now_date" placeholder="请输入：年/月/日"/>
    <!--  <input type="time" name="new_time" id="now_time" placeholder="请输入：时/分"/> -->
      <script src="jquery-2.0.3.min.js"></script>
      <script>
          //初始化时间控件
          var now = new Date() ;

          var now_year = now.getFullYear() ; //年
          var now_month = now.getMonth()+1<10?"0"+(now.getMonth()+1):now.getMonth() ; //月
          var now_day = now.getDate()<10?"0"+now.getDate():now.getDate() ; //日期

          var now_hour = now.getHours()<10?"0"+now.getHours():now.getHours() ; //时
          var nowMinute = now.getMinutes()<10?"0"+now.getMinutes():now.getMinutes() ; //分

          var now_date = now_year+"-"+now_month+"-"+now_day ;
          var now_time = now_hour+":"+now_minute;

          $("#now_date").val(now_date) ;
          $("#nowTime").val(now_time) ;
      </script>


  </td>
    </tr>
    <tr>
      <td>温度：</td>
      <td><input type="text" name="temperature" id="temperature"></td>
    </tr>
    <tr>
      <td>湿度：</td>
      <td><input type="text" name="humidity" id="humidity"></td>
    </tr>
    <tr>
      <td>压强：</td>
      <td><input type="text" name="pressure" id="pressure"></td>
    </tr>
    <tr>
      <td><input type="submit" name="sub" value="提交"></td>
      <td><input type="reset" name="reset" value="重置"></td>
    </tr>
  </table>
  <!-- 输出提示-->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <h3 class="text-danger text-center" align="center"><%- info %></h3>
      </div>
    </div>
  </div>
  </form>
</div><!-- /.blog-main -->
</body>
</html>
